@import 'variables.scss';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  background: $green-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;
  &:hover {
    background: $green-bg-hover;
  }
}
